.DS_Store
.mproject
TAGS
#site-lisp/*
obsolete/
.data/
.cache/
el-get/
elpa/
eshell/
lisp/symfony1x/
.backups/
.cask/
GPATH
GRTAGS
GTAGS
gnus-*.el
/private-settings.el
.erc-auth
session.*
refactor/
var/
smex-items
backup/
*.elc
conf.d/individual-settings.el
.mc-lists.el
lisp/ede-php-autoload/
snippets-backup/
ensime/
.hl-save
network-security.data
